---
layout: default
class: home
hide_breadcrumbs: true
title: オープンソースライセンスを選ぼう
permalink: /
---

<p><budoux-ja>オープンソースライセンスは、貢献者とユーザーを保護します。ビジネスや熟練した開発者は、この保護がないプロジェクトに手を出しません。</budoux-ja></p>
<h2>
  <span>{</span>
  以下のうち、あなたの状況にもっとも適したものはどれですか？
  <span>}</span>
</h2>
<ul class="triptych situations clearfix">
  <li class="existing">
    <a href="community/">
      <span class="triptych-sprite community"></span>
      <h3><budoux-ja>コミュニティで作業する必要があります。</budoux-ja></h3>
    </a>
    <p>
      <budoux-ja>貢献するまたは依存するコミュニティが好む</budoux-ja><a
        href="community/"><budoux-ja>ライセンスを使用</budoux-ja></a><budoux-ja>してください。あなたのプロジェクトはうまく適合するでしょう。</budoux-ja>
    </p>
    <p>
      <budoux-ja>ライセンスがない依存関係がある場合は、そのメンテナに</budoux-ja><a
        href="no-permission/#ユーザー向け"><budoux-ja>ライセンスを追加するように依頼</budoux-ja></a><budoux-ja>してください。</budoux-ja>
    </p>
  </li>
  <li class="whatever">
    <a href="licenses/mit/">
      <span class="triptych-sprite three-arrows"></span>
      <h3>
        <budoux-ja>
          シンプルで許容的なものが欲しいです。
        </budoux-ja>
      </h3>
    </a>
    <p>
      <a href="licenses/mit/"><budoux-ja>MITライセンス</budoux-ja></a><budoux-ja>は簡潔で明確です。プロジェクトに対してほとんど何でもできるようになります。たとえば、クローズドソースのバージョンを作成して配布できます。
      </budoux-ja>
    </p>
    <p>
      {% include using-sentence.html license-id="mit" %}
    </p>
  </li>
  <li class="copyleft">
    <a href="licenses/gpl-3.0/">
      <span class="triptych-sprite circular"></span>
      <h3>
        <budoux-ja>
          改良を共有することが重要です。
        </budoux-ja>
      </h3>
    </a>
    <p>
      <a href="licenses/gpl-3.0/">GNU
        GPLv3</a><budoux-ja>は、プロジェクトに対してほとんど何でもできるようになりますが、クローズドソースのバージョンを配布することはできません。</budoux-ja>
    </p>
    <p>
      {% include using-sentence.html license-id="gpl-3.0" %}
    </p>
  </li>
</ul>
<h2>
  <span>{</span>
  <budoux-ja>
    もし私にとってこれらのどれもが適切でなかった場合は？
  </budoux-ja>
  <span>}</span>
</h2>
<ul class="triptych see-more clearfix">
  <li>
    <h3>
      <budoux-ja>
        私のプロジェクトはソフトウェアではありません。
      </budoux-ja>
    </h3>
    <p>
      <a href="non-software/"><budoux-ja>それに対応するライセンスがあります</budoux-ja></a>。
    </p>
  </li>
  <li>
    <h3>
      <budoux-ja>
        もっと選択肢が欲しいです。
      </budoux-ja>
    </h3>
    <p>
      <a href="licenses/"><budoux-ja>さらに多くのライセンスがあります</budoux-ja></a>。
    </p>
  </li>
  <li>
    <h3>
      <budoux-ja>
        ライセンスを選択したくありません。
      </budoux-ja>
    </h3>
    <p>
      <a href="no-permission/"><budoux-ja>選択しなかった場合の結果はこちらです</budoux-ja></a>。
    </p>
  </li>
</ul>
