---
layout: default
permalink: licenses/
class: license-types
title: ライセンス一覧
---

<p><budoux-ja>オープンソースライセンスは、ソフトウェアの出所とオープン性を保護する条件に従うことを条件に、誰でもライセンスされたソフトウェアを使用、変更、共有する許可を与えます。以下のライセンスは、条件の数によって、もっとも多い（GNU
        AGPLv3）からなし（Unlicense）まで並べ替えられています。人気のあるライセンスであるGNU
        GPLv3とMITは、このスペクトル内に含まれることに注意してください。ホームページで紹介されている人気のあるライセンスであるGNU
        GPLv3とMITは、このスペクトル内に含まれることに注意してください。</budoux-ja></p>
<p style="font-size:small; margin-bottom: 40px"><budoux-ja>choosealicense.com のすべてのライセンスに関する参照表をお探しの場合は、</budoux-ja><a
        href="/appendix">付録</a><budoux-ja>をご覧ください。</budoux-ja></p>

{% include license-overview.html license-id="agpl-3.0" %}
{% include license-overview.html license-id="gpl-3.0" %}
{% include license-overview.html license-id="lgpl-3.0" %}
{% include license-overview.html license-id="mpl-2.0" %}
{% include license-overview.html license-id="apache-2.0" %}
{% include license-overview.html license-id="mit" %}
{% include license-overview.html license-id="bsl-1.0" %}
{% include license-overview.html license-id="unlicense" %}

<p><budoux-ja>上記のライセンスは、高度に保護的なものから無条件のものまで、オープンソースライセンスのスペクトル全体を表しています。これらのうちの1つは、ほとんどの新しいオープンソースプロジェクトに適しています。これらの他にも、上記のいくつかの古いバージョンや近い代替品を含め、多くの他のオープンソースライセンスが存在します。詳細については、</budoux-ja><a
        href="/about/"><budoux-ja>このサイトについて</budoux-ja></a><budoux-ja>にリストされているリソースを参照してください。<budoux-ja></p>
