      <footer class="site-footer clearfix">
        <nav>
          <a href="/about/">このサイトについて</a>
          <a href="/terms-of-service/">利用規約</a>
          {% github_edit_link "このページの改善に協力する" %}
        </nav>
        <p>
          <budoux-ja>このサイトのコンテンツは</budoux-ja><a href="https://creativecommons.org/licenses/by/3.0/"><budoux-ja>クリエイティブ・コモンズ 表示 3.0 非移植 ライセンス</budoux-ja></a><budoux-ja>でライセンスされています。</budoux-ja>
        </p>
        <div class="with-love">
          Curated with ❤️ by <a href="https://github.com">GitHub, Inc.</a> and <a href="https://github.com/github/choosealicense.com">You!</a>
        </div>
      </footer>

    </div> <!-- /container -->

    {% if page.collection == "licenses" or page.class == "license-types" %}
    <script src="{{ 'assets/vendor/jquery/jquery.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/vendor/clipboard/dist/clipboard.min.js' | relative_url }}"></script>
    <script>
      window.annotations = {{ site.data.rules | jsonify }};
      {% if page.collection == "licenses" %}
      window.licenses = [
        {% for license in site.licenses %}
          {
            "title": "{{ license.title | escape  }}",
            "spdx_id": "{{ license.spdx-id | escape  }}"
          }{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ];
      {% endif %}
    </script>
    <script src="{{ 'assets/js/app.js' | relative_url }}"></script>
    {% endif %}
  </body>
</html>
