<div class="sidebar">

  <a href="#" data-clipboard-target="#license-text" data-proofer-ignore="true" class="js-clipboard-button button">Copy license text to clipboard</a>
  {% unless page.spdx-id == 'LGPL-3.0' %}
  <h3 id="suggest-this-license">このライセンスを提案する</h3>
  <div class="repository-suggestion">
    <p><a href="/no-permission/">ライセンスがない</a>プロジェクトにこのライセンスを提案するために、プルリクエストを作成してください。丁寧にお願いします：すでに提案されたライセンスがあるかどうか確認し、プロジェクトの<a href="/community/">コミュニティ</a>に適したライセンスを提案し、プロジェクトのメンテナーとのコミュニケーションを友好的に保ちます。</p>
    <div class="input-wrapper">
      <input type="text" data-license-id="{{ page.spdx-id }}" placeholder="GitHubリポジトリのURLを入力してください" id="repository-url" title="status" />
      <div class="status-indicator"></div>
    </div>
  </div>
  {% endunless %}

  <div class="how-to-apply">
    <h3 id="how-to-apply">このライセンスを適用する方法</h3>
    <p>
      {{ page.how }}
    </p>
    <div class="note">
    <h4 id="optional-steps">オプションの手順</h4>
    {% if page.note %}
    <p>
      {{ page.note }}
    </p>
    {% endif %}
    {% assign lateronly = false %}
    {% if page.spdx-id contains 'GPL' %}{% assign lateronly = true %}
    {% elsif page.spdx-id contains 'GFDL' %}{% assign lateronly = true %}{% endif %}
    {% assign ofl = false %}
    {% if page.spdx-id contains 'OFL-1' %}{% assign ofl = true %}{% endif %}
    <p id="package-metadata">該当する場合は、プロジェクトのパッケージ説明に<strong><code>{{ page.spdx-id }}{% if lateronly %}-or-later{% endif %}{% if ofl %}-no-RFN{% endif %}</code></strong>{% if lateronly %}（将来のバージョンを禁止するために<strong><code>{{ page.spdx-id }}-only</code></strong>を追加することもできます）{% endif %}{% if ofl %}（著作権声明の後にReserved Font Nameが指定されている場合は、<strong><code>{{ page.spdx-id }}-RFN</code></strong>を追加することもできます）{% endif %}を追加してください（例：<a href="https://docs.npmjs.com/cli/v7/configuring-npm/package-json#license">Node.js</a>、<a href="https://guides.rubygems.org/specification-reference/#license=">Ruby</a>、および<a href="https://doc.rust-lang.org/cargo/reference/manifest.html#the-license-and-license-file-fields">Rust</a>）。これにより、パッケージディレクトリにライセンスが表示されます。</p>
      {% if page.spdx-id contains 'GPL-2' %}
      <p id="gplcc">プロジェクトがGPL-3.0のcure条項を採用する場合は、<code>COMMITMENT</code>という名前のファイルに<a href="https://github.com/gplcc/gplcc/blob/master/Project/COMMITMENT">テキスト</a>を追加してください。このファイルは、{{ page.spdx-id }}ライセンスファイルと同じディレクトリに配置してください。<a href="https://gplcc.github.io/gplcc/">GPL Cooperation Commitment</a></p>
    {% endif %}
    </div>
  </div>

  <div class="source">
    <a href="https://spdx.org/licenses/{{ page.spdx-id }}{% if lateronly %}-or-later{% endif %}.html">
      <span class="license-sprite"></span>
      Source
    </a>
  </div>

  {% if page.using %}
  <div class="projects-with-license">
    <h3>Who’s using this license?</h3>
    <ul>
      {% for using in page.using %}
        <li><a href="{{ using[1] }}" target="_blank">{{ using[0] }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

</div> <!-- /sidebar -->
