{% include header.html %}

<div class="clearfix">

  <div class="license-body">

    {% if page.nickname %}
    <p class="license-nickname">
      {{ page.nickname }}
    </p>
    {% endif %}

    <p>
      {{ page.description }}
    </p>

    <div class="license-page-details">

      <table class="license-rules">
        <tr>
          {% assign types = "permissions|conditions|limitations" | split: "|" %}
          {% for type in types %}
          <th class="label">{{ type | capitalize }}</th>
          {% endfor %}
        </tr>
        <tr>
          {% for type in types %}
          <td>
            <ul class="license-{{ type }}">
              {% assign rules = site.data.rules[type] | sort: "label" %}
              {% for rule_obj in rules %}
              {% assign req = rule_obj.tag %}
              {% if page[type] contains req %}
              <li class="{{ req }}">
                <span class="license-sprite"></span>
                {{ rule_obj.label_ja }}
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </td>
          {% endfor %}
        </tr>
      </table>

    </div>

    <pre id="license-text">{{ content | replace:"<", "&lt;" | replace:">", "&gt;" }}</pre>

    {% if page.translate and page.translate.ja %}
    <hr>
    <h3><budoux-ja>参考日本語訳</budoux-ja></h3>
    <p>この日本語訳はオープンソースライセンスをより良く理解するための参考訳です。配布条件は原文のみが有効です。</p>
    <p class="license-overview-description"><budoux-ja>{{ page.translate.ja | replace:"<", "&lt;" | replace:">", "&gt;"
          | newline_to_br}}</budoux-ja>
    </p>
    {% endif %}
  </div> <!-- /license-body -->

  {% include sidebar.html %}

</div> <!-- /clearfix -->

{% include footer.html %}
